h1 {
  font-size: 25px;
}

.header {
  font-family: sans-serif;
  background-color: rgb(138, 211, 224);
  margin-top: 30px;
}
.current-local-info {
  font-size: 15px;
}

.weather-search {
  background-color: rgb(255, 180, 177);
}

.search-engine {
  margin: 0 auto;
  padding: 10px 15px;
}
.picture {
  background-color: rgb(218, 153, 212);
}

.weekly-forecast {
  background-color: rgb(150, 219, 219);
}

.search-result {
  display: block;
  margin: 0 auto;
}
.city,
.temperature,
.description {
  display: inline;
}

.weekly-forecast {
  list-style: none;
}
.website-info {
  display: block;
  text-align: center;
}
