h1 {
  font-size: 25px;
}

.header {
  font-family: sans-serif;
  background-color: rgb(138, 211, 224);
  margin-top: 30px;
}
.local-info {
  font-size: 15px;
}

.weather-info {
  background-color: rgb(255, 180, 177);
}

.picture {
  background-color: rgb(218, 153, 212);
}

.weekly-forecast {
  background-color: rgb(150, 219, 219);
}
